<div class="row">
    <div class="col-md-8">
        <h3>Comments </h3>
        <div class="comments-list" id="comments-list">
            {{#each comment.comments}}
                <div id="media-body" class="media-body">
                    {{> movieComments}}
                </div>
            {{/each}}
        </div>
    </div>
</div>