<div class="footer">
    <p>
    <p>Made by: <span>Ricardo Moreira</span>, <span>João Leitão</span>, <span>Gonçalo Santos</span>.</p>
    <p><span>Powered by: </span>
        <img src="/images/install-npm-js-node-javascript-tools-development-icon.png" width="64" height="64"/>
        <img src="/images/html5-%E2%80%A2-html-icon.png" width="64" height="64"/>
        <img src="/images/128-128-1b5628f6f1f5d3a936bc33a147accc89-css3.png" width="64" height="64"/>
        <img src="/images/408x161-powered-by-rectangle-green.png" width="128" height="64"/>
    </p>
</div>