<div class="buttonlist">
    {{#hasPage page "1"}}
        <div class="innerbuttons">
            <a href="http://localhost:3000/search/?q={{movieString}}&page={{dec page}}">
                <button type="submit" class="btn btn-outline-info my-2 my-sm-0">
                    Prev
                </button>
            </a>
        </div>
    {{/hasPage}}
    {{#hasPage page max_pages}}
        <div class="innerbuttons">
            <a href="http://localhost:3000/search/?q={{movieString}}&page={{inc page max_pages}}">
                <button type="submit" class="btn btn-outline-info my-2 my-sm-0">
                    Next
                </button>
            </a>
        </div>
    {{/hasPage}}
</div>